body {
    background-color: rgb(7, 7, 7);
}

header {
    background-color: black;
    margin-left: -7px;
    text-align: center;
    margin-top: -20px;
    margin-right: -7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.263);
}

header a {
    text-decoration: none;
    color: white;
}

#oculto {
    color: white;
    background-color: black;
    position: absolute;
    text-align: initial;
    padding: 4px;
    margin-top: 5px;
    border: 1px solid gray;
    list-style: none;
    display: none;
}

#menu ul {
    margin-bottom: 5px;
}

.liPrinc {
    display: inline-block;
    font-size: 17px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid rgb(41, 41, 44);
}

#sobreMim {
    display: inline-block;
    font-size: 17px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid rgb(41, 41, 44);
    
}

#fotos {
    border-left:2px solid rgb(41, 41, 44) ;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

/*------------section------------*/

section {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.722);
}

#modoLeitura {
    margin-left: 48%;
    padding: 2px;
    border-radius: 25px;
    background-color: rgba(203, 197, 197, 0.479);
    font-size: 12px;
    font-weight:bold;
}

#artigo {
    border: 1px solid rgb(182, 176, 176);
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.496);
}

#artigo h1 {
    text-align: center;
    border-bottom: 1px solid rgb(182, 176, 176);
}

#artigo a {
    text-decoration: none;
    font-style: italic;
    color: rgb(66, 19, 110);
}

#pisca1 {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: piscar 1s infinite;
}

#pisca2 {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    padding: 6px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: piscar 1s infinite;
}

#pisca3 {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    padding: 7px;
    margin-right: 4px;
    background-color: rgba(6, 6, 6, 0.999);
    animation: piscar 1s infinite;
}
/*------------aside--------------*/

aside {
    color: white;
    background-color: black;
    top: 87px;
    right: 0;
    position: fixed;
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.263);
    border-bottom: 1px solid rgba(255, 255, 255, 0.263);
}

#menuCor input {
    margin-top: 10px;
}

/*------------footer--------------*/

footer {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: -7px;
    margin-right: -7px;
    text-align: center;
    padding: 10px;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.263);
}





